langchain
langchain_ollama
langchain-openai
langchain-community
streamlit
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
arxiv
wikipedia
pandas
streamlit
openpyxl
faiss-cpu
duckduckgo-search
unstructured[all]
pdfminer
pdfminer.six==20221105
pi_heif
pinecone

